@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #636b6f;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.loader {
  margin-top: 10px;
  display: none;
  text-align: center;
}

.success {
  font-weight: bold;
  text-align: center;
  color: green;
}

.errors {
  color: red;
}

.content {
  margin-left: 10%;
  width: 80%;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
  min-height: 120px;
  height: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.confirm {
  display: inline-block;
  float: right;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.addUserBtn {
  float: right;
  width: 150px;
}

input[type=text],
select {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=submit] {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  font-family: 'Raleway', sans-serif;
  background-color: #45a049;
}

